zipp 3.7.0 (/usr/local/lib/python3.7/dist-packages),
 zict 2.0.0 (/usr/local/lib/python3.7/dist-packages),
 yellowbrick 1.3.post1 (/usr/local/lib/python3.7/dist-packages),
 xlwt 1.3.0 (/usr/local/lib/python3.7/dist-packages),
 xlrd 1.1.0 (/usr/local/lib/python3.7/dist-packages),
 xgboost 0.90 (/usr/local/lib/python3.7/dist-packages),
 xarray 0.18.2 (/usr/local/lib/python3.7/dist-packages),
 wrapt 1.13.3 (/usr/local/lib/python3.7/dist-packages),
 wordcloud 1.5.0 (/usr/local/lib/python3.7/dist-packages),
 widgetsnbextension 3.5.2 (/usr/local/lib/python3.7/dist-packages),
 wheel 0.37.1 (/usr/local/lib/python3.7/dist-packages),
 Werkzeug 1.0.1 (/usr/local/lib/python3.7/dist-packages),
 webencodings 0.5.1 (/usr/local/lib/python3.7/dist-packages),
 wcwidth 0.2.5 (/usr/local/lib/python3.7/dist-packages),
 wasabi 0.9.0 (/usr/local/lib/python3.7/dist-packages),
 vega-datasets 0.9.0 (/usr/local/lib/python3.7/dist-packages),
 urllib3 1.24.3 (/usr/local/lib/python3.7/dist-packages),
 uritemplate 3.0.1 (/usr/local/lib/python3.7/dist-packages),
 tzlocal 1.5.1 (/usr/local/lib/python3.7/dist-packages),
 typing-extensions 3.10.0.2 (/usr/local/lib/python3.7/dist-packages),
 typeguard 2.7.1 (/usr/local/lib/python3.7/dist-packages),
 tweepy 3.10.0 (/usr/local/lib/python3.7/dist-packages),
 traitlets 5.1.1 (/usr/local/lib/python3.7/dist-packages),
 tqdm 4.62.3 (/usr/local/lib/python3.7/dist-packages),
 tornado 5.1.1 (/usr/local/lib/python3.7/dist-packages),
 torchvision 0.11.1+cu111 (/usr/local/lib/python3.7/dist-packages),
 torchtext 0.11.0 (/usr/local/lib/python3.7/dist-packages),
 torchsummary 1.5.1 (/usr/local/lib/python3.7/dist-packages),
 torchaudio 0.10.0+cu111 (/usr/local/lib/python3.7/dist-packages),
 torch 1.10.0+cu111 (/usr/local/lib/python3.7/dist-packages),
 toolz 0.11.2 (/usr/local/lib/python3.7/dist-packages),
 tomli 2.0.0 (/usr/local/lib/python3.7/dist-packages),
 toml 0.10.2 (/usr/local/lib/python3.7/dist-packages),
 tifffile 2021.11.2 (/usr/local/lib/python3.7/dist-packages),
 threadpoolctl 3.0.0 (/usr/local/lib/python3.7/dist-packages),
 thinc 7.4.0 (/usr/local/lib/python3.7/dist-packages),
 Theano-PyMC 1.1.2 (/usr/local/lib/python3.7/dist-packages),
 textblob 0.15.3 (/usr/local/lib/python3.7/dist-packages),
 text-unidecode 1.3 (/usr/local/lib/python3.7/dist-packages),
 testpath 0.5.0 (/usr/local/lib/python3.7/dist-packages),
 terminado 0.12.1 (/usr/local/lib/python3.7/dist-packages),
 termcolor 1.1.0 (/usr/local/lib/python3.7/dist-packages),
 tensorflow 2.7.0 (/usr/local/lib/python3.7/dist-packages),
 tensorflow-probability 0.15.0 (/usr/local/lib/python3.7/dist-packages),
 tensorflow-metadata 1.5.0 (/usr/local/lib/python3.7/dist-packages),
 tensorflow-io-gcs-filesystem 0.23.1 (/usr/local/lib/python3.7/dist-packages),
 tensorflow-hub 0.12.0 (/usr/local/lib/python3.7/dist-packages),
 tensorflow-gcs-config 2.7.0 (/usr/local/lib/python3.7/dist-packages),
 tensorflow-estimator 2.7.0 (/usr/local/lib/python3.7/dist-packages),
 tensorflow-datasets 4.0.1 (/usr/local/lib/python3.7/dist-packages),
 tensorboard 2.7.0 (/usr/local/lib/python3.7/dist-packages),
 tensorboard-plugin-wit 1.8.1 (/usr/local/lib/python3.7/dist-packages),
 tensorboard-data-server 0.6.1 (/usr/local/lib/python3.7/dist-packages),
 tblib 1.7.0 (/usr/local/lib/python3.7/dist-packages),
 tabulate 0.8.9 (/usr/local/lib/python3.7/dist-packages),
 tables 3.4.4 (/usr/local/lib/python3.7/dist-packages),
 sympy 1.7.1 (/usr/local/lib/python3.7/dist-packages),
 statsmodels 0.10.2 (/usr/local/lib/python3.7/dist-packages),
 srsly 1.0.5 (/usr/local/lib/python3.7/dist-packages),
 sqlparse 0.4.2 (/usr/local/lib/python3.7/dist-packages),
 SQLAlchemy 1.4.29 (/usr/local/lib/python3.7/dist-packages),
 sphinxcontrib-websupport 1.2.4 (/usr/local/lib/python3.7/dist-packages),
 sphinxcontrib-serializinghtml 1.1.5 (/usr/local/lib/python3.7/dist-packages),
 Sphinx 1.8.6 (/usr/local/lib/python3.7/dist-packages),
 spacy 2.2.4 (/usr/local/lib/python3.7/dist-packages),
 SoundFile 0.10.3.post1 (/usr/local/lib/python3.7/dist-packages),
 sortedcontainers 2.4.0 (/usr/local/lib/python3.7/dist-packages),
 snowballstemmer 2.2.0 (/usr/local/lib/python3.7/dist-packages),
 smart-open 5.2.1 (/usr/local/lib/python3.7/dist-packages),
 sklearn 0.0 (/usr/local/lib/python3.7/dist-packages),
 sklearn-pandas 1.8.0 (/usr/local/lib/python3.7/dist-packages),
 six 1.15.0 (/usr/local/lib/python3.7/dist-packages),
 simplegeneric 0.8.1 (/usr/local/lib/python3.7/dist-packages),
 Shapely 1.8.0 (/usr/local/lib/python3.7/dist-packages),
 setuptools 57.4.0 (/usr/local/lib/python3.7/dist-packages),
 setuptools-git 1.2 (/usr/local/lib/python3.7/dist-packages),
 Send2Trash 1.8.0 (/usr/local/lib/python3.7/dist-packages),
 semver 2.13.0 (/usr/local/lib/python3.7/dist-packages),
 seaborn 0.11.2 (/usr/local/lib/python3.7/dist-packages),
 scs 3.0.1 (/usr/local/lib/python3.7/dist-packages),
 scipy 1.4.1 (/usr/local/lib/python3.7/dist-packages),
 scikit-learn 1.0.2 (/usr/local/lib/python3.7/dist-packages),
 scikit-image 0.18.3 (/usr/local/lib/python3.7/dist-packages),
 rsa 4.8 (/usr/local/lib/python3.7/dist-packages),
 rpy2 3.4.5 (/usr/local/lib/python3.7/dist-packages),
 retrying 1.3.3 (/usr/local/lib/python3.7/dist-packages),
 resampy 0.2.2 (/usr/local/lib/python3.7/dist-packages),
 requests 2.23.0 (/usr/local/lib/python3.7/dist-packages),
 requests-oauthlib 1.3.0 (/usr/local/lib/python3.7/dist-packages),
 regex 2019.12.20 (/usr/local/lib/python3.7/dist-packages),
 QtPy 2.0.0 (/usr/local/lib/python3.7/dist-packages),
 qtconsole 5.2.2 (/usr/local/lib/python3.7/dist-packages),
 qdldl 0.1.5.post0 (/usr/local/lib/python3.7/dist-packages),
 pyzmq 22.3.0 (/usr/local/lib/python3.7/dist-packages),
 PyYAML 3.13 (/usr/local/lib/python3.7/dist-packages),
 PyWavelets 1.2.0 (/usr/local/lib/python3.7/dist-packages),
 pyviz-comms 2.1.0 (/usr/local/lib/python3.7/dist-packages),
 pytz 2018.9 (/usr/local/lib/python3.7/dist-packages),
 python-utils 3.0.0 (/usr/local/lib/python3.7/dist-packages),
 python-slugify 5.0.2 (/usr/local/lib/python3.7/dist-packages),
 python-louvain 0.15 (/usr/local/lib/python3.7/dist-packages),
 python-dateutil 2.8.2 (/usr/local/lib/python3.7/dist-packages),
 python-chess 0.23.11 (/usr/local/lib/python3.7/dist-packages),
 python-apt 0.0.0 (/usr/local/lib/python3.7/dist-packages),
 pytest 3.6.4 (/usr/local/lib/python3.7/dist-packages),
 pystan 2.19.1.1 (/usr/local/lib/python3.7/dist-packages),
 PySocks 1.7.1 (/usr/local/lib/python3.7/dist-packages),
 pysndfile 1.3.8 (/usr/local/lib/python3.7/dist-packages),
 pyrsistent 0.18.0 (/usr/local/lib/python3.7/dist-packages),
 pyparsing 3.0.6 (/usr/local/lib/python3.7/dist-packages),
 PyOpenGL 3.1.5 (/usr/local/lib/python3.7/dist-packages),
 pymystem3 0.2.0 (/usr/local/lib/python3.7/dist-packages),
 pymongo 4.0.1 (/usr/local/lib/python3.7/dist-packages),
 PyMeeus 0.5.11 (/usr/local/lib/python3.7/dist-packages),
 pymc3 3.11.4 (/usr/local/lib/python3.7/dist-packages),
 Pygments 2.6.1 (/usr/local/lib/python3.7/dist-packages),
 pyglet 1.5.0 (/usr/local/lib/python3.7/dist-packages),
 pyerfa 2.0.0.1 (/usr/local/lib/python3.7/dist-packages),
 pyemd 0.5.1 (/usr/local/lib/python3.7/dist-packages),
 PyDrive 1.3.1 (/usr/local/lib/python3.7/dist-packages),
 pydotplus 2.0.2 (/usr/local/lib/python3.7/dist-packages),
 pydot 1.3.0 (/usr/local/lib/python3.7/dist-packages),
 pydot-ng 2.0.0 (/usr/local/lib/python3.7/dist-packages),
 pydata-google-auth 1.3.0 (/usr/local/lib/python3.7/dist-packages),
 pyct 0.4.8 (/usr/local/lib/python3.7/dist-packages),
 pycparser 2.21 (/usr/local/lib/python3.7/dist-packages),
 pycocotools 2.0.4 (/usr/local/lib/python3.7/dist-packages),
 pyasn1 0.4.8 (/usr/local/lib/python3.7/dist-packages),
 pyasn1-modules 0.2.8 (/usr/local/lib/python3.7/dist-packages),
 pyarrow 3.0.0 (/usr/local/lib/python3.7/dist-packages),
 py 1.11.0 (/usr/local/lib/python3.7/dist-packages),
 ptyprocess 0.7.0 (/usr/local/lib/python3.7/dist-packages),
 psycopg2 2.7.6.1 (/usr/local/lib/python3.7/dist-packages),
 psutil 5.4.8 (/usr/local/lib/python3.7/dist-packages),
 protobuf 3.17.3 (/usr/local/lib/python3.7/dist-packages),
 prompt-toolkit 1.0.18 (/usr/local/lib/python3.7/dist-packages),
 promise 2.3 (/usr/local/lib/python3.7/dist-packages),
 prometheus-client 0.12.0 (/usr/local/lib/python3.7/dist-packages),
 progressbar2 3.38.0 (/usr/local/lib/python3.7/dist-packages),
 prettytable 3.0.0 (/usr/local/lib/python3.7/dist-packages),
 preshed 3.0.6 (/usr/local/lib/python3.7/dist-packages),
 prefetch-generator 1.0.1 (/usr/local/lib/python3.7/dist-packages),
 portpicker 1.3.9 (/usr/local/lib/python3.7/dist-packages),
 pooch 1.5.2 (/usr/local/lib/python3.7/dist-packages),
 pluggy 0.7.1 (/usr/local/lib/python3.7/dist-packages),
 plotnine 0.6.0 (/usr/local/lib/python3.7/dist-packages),
 plotly 4.4.1 (/usr/local/lib/python3.7/dist-packages),
 plac 1.1.3 (/usr/local/lib/python3.7/dist-packages),
 pip 21.1.3 (/usr/local/lib/python3.7/dist-packages),
 pip-tools 6.2.0 (/usr/local/lib/python3.7/dist-packages),
 Pillow 7.1.2 (/usr/local/lib/python3.7/dist-packages),
 pickleshare 0.7.5 (/usr/local/lib/python3.7/dist-packages),
 pexpect 4.8.0 (/usr/local/lib/python3.7/dist-packages),
 pep517 0.12.0 (/usr/local/lib/python3.7/dist-packages),
 patsy 0.5.2 (/usr/local/lib/python3.7/dist-packages),
 pathlib 1.0.1 (/usr/local/lib/python3.7/dist-packages),
 parso 0.8.3 (/usr/local/lib/python3.7/dist-packages),
 param 1.12.0 (/usr/local/lib/python3.7/dist-packages),
 panel 0.12.1 (/usr/local/lib/python3.7/dist-packages),
 pandocfilters 1.5.0 (/usr/local/lib/python3.7/dist-packages),
 pandas 1.1.5 (/usr/local/lib/python3.7/dist-packages),
 pandas-profiling 1.4.1 (/usr/local/lib/python3.7/dist-packages),
 pandas-gbq 0.13.3 (/usr/local/lib/python3.7/dist-packages),
 pandas-datareader 0.9.0 (/usr/local/lib/python3.7/dist-packages),
 palettable 3.3.0 (/usr/local/lib/python3.7/dist-packages),
 packaging 21.3 (/usr/local/lib/python3.7/dist-packages),
 osqp 0.6.2.post0 (/usr/local/lib/python3.7/dist-packages),
 opt-einsum 3.3.0 (/usr/local/lib/python3.7/dist-packages),
 openpyxl 2.5.9 (/usr/local/lib/python3.7/dist-packages),
 opencv-python 4.1.2.30 (/usr/local/lib/python3.7/dist-packages),
 opencv-contrib-python 4.1.2.30 (/usr/local/lib/python3.7/dist-packages),
 okgrade 0.4.3 (/usr/local/lib/python3.7/dist-packages),
 oauthlib 3.1.1 (/usr/local/lib/python3.7/dist-packages),
 oauth2client 4.1.3 (/usr/local/lib/python3.7/dist-packages),
 nvidia-ml-py3 7.352.0 (/usr/local/lib/python3.7/dist-packages),
 numpy 1.19.5 (/usr/local/lib/python3.7/dist-packages),
 numexpr 2.8.1 (/usr/local/lib/python3.7/dist-packages),
 numba 0.51.2 (/usr/local/lib/python3.7/dist-packages),
 notebook 5.3.1 (/usr/local/lib/python3.7/dist-packages),
 nltk 3.2.5 (/usr/local/lib/python3.7/dist-packages),
 nibabel 3.0.2 (/usr/local/lib/python3.7/dist-packages),
 networkx 2.6.3 (/usr/local/lib/python3.7/dist-packages),
 netCDF4 1.5.8 (/usr/local/lib/python3.7/dist-packages),
 nest-asyncio 1.5.4 (/usr/local/lib/python3.7/dist-packages),
 nbformat 5.1.3 (/usr/local/lib/python3.7/dist-packages),
 nbconvert 5.6.1 (/usr/local/lib/python3.7/dist-packages),
 nbclient 0.5.9 (/usr/local/lib/python3.7/dist-packages),
 natsort 5.5.0 (/usr/local/lib/python3.7/dist-packages),
 music21 5.5.0 (/usr/local/lib/python3.7/dist-packages),
 murmurhash 1.0.6 (/usr/local/lib/python3.7/dist-packages),
 multitasking 0.0.10 (/usr/local/lib/python3.7/dist-packages),
 multiprocess 0.70.12.2 (/usr/local/lib/python3.7/dist-packages),
 msgpack 1.0.3 (/usr/local/lib/python3.7/dist-packages),
 mpmath 1.2.1 (/usr/local/lib/python3.7/dist-packages),
 moviepy 0.2.3.5 (/usr/local/lib/python3.7/dist-packages),
 more-itertools 8.12.0 (/usr/local/lib/python3.7/dist-packages),
 mlxtend 0.14.0 (/usr/local/lib/python3.7/dist-packages),
 mkl 2019.0 (/usr/local/lib/python3.7/dist-packages),
 mizani 0.6.0 (/usr/local/lib/python3.7/dist-packages),
 mistune 0.8.4 (/usr/local/lib/python3.7/dist-packages),
 missingno 0.5.0 (/usr/local/lib/python3.7/dist-packages),
 matplotlib 3.2.2 (/usr/local/lib/python3.7/dist-packages),
 matplotlib-venn 0.11.6 (/usr/local/lib/python3.7/dist-packages),
 matplotlib-inline 0.1.3 (/usr/local/lib/python3.7/dist-packages),
 MarkupSafe 2.0.1 (/usr/local/lib/python3.7/dist-packages),
 Markdown 3.3.6 (/usr/local/lib/python3.7/dist-packages),
 lxml 4.2.6 (/usr/local/lib/python3.7/dist-packages),
 LunarCalendar 0.0.9 (/usr/local/lib/python3.7/dist-packages),
 lmdb 0.99 (/usr/local/lib/python3.7/dist-packages),
 llvmlite 0.34.0 (/usr/local/lib/python3.7/dist-packages),
 lightgbm 2.2.3 (/usr/local/lib/python3.7/dist-packages),
 librosa 0.8.1 (/usr/local/lib/python3.7/dist-packages),
 libclang 12.0.0 (/usr/local/lib/python3.7/dist-packages),
 korean-lunar-calendar 0.2.1 (/usr/local/lib/python3.7/dist-packages),
 kiwisolver 1.3.2 (/usr/local/lib/python3.7/dist-packages),
 keras 2.7.0 (/usr/local/lib/python3.7/dist-packages),
 keras-vis 0.4.1 (/usr/local/lib/python3.7/dist-packages),
 Keras-Preprocessing 1.1.2 (/usr/local/lib/python3.7/dist-packages),
 kapre 0.3.6 (/usr/local/lib/python3.7/dist-packages),
 kaggle 1.5.12 (/usr/local/lib/python3.7/dist-packages),
 jupyterlab-widgets 1.0.2 (/usr/local/lib/python3.7/dist-packages),
 jupyterlab-pygments 0.1.2 (/usr/local/lib/python3.7/dist-packages),
 jupyter 1.0.0 (/usr/local/lib/python3.7/dist-packages),
 jupyter-core 4.9.1 (/usr/local/lib/python3.7/dist-packages),
 jupyter-console 5.2.0 (/usr/local/lib/python3.7/dist-packages),
 jupyter-client 5.3.5 (/usr/local/lib/python3.7/dist-packages),
 jsonschema 4.3.3 (/usr/local/lib/python3.7/dist-packages),
 jpeg4py 0.1.4 (/usr/local/lib/python3.7/dist-packages),
 joblib 1.1.0 (/usr/local/lib/python3.7/dist-packages),
 Jinja2 2.11.3 (/usr/local/lib/python3.7/dist-packages),
 jieba 0.42.1 (/usr/local/lib/python3.7/dist-packages),
 jedi 0.18.1 (/usr/local/lib/python3.7/dist-packages),
 jdcal 1.4.1 (/usr/local/lib/python3.7/dist-packages),
 jaxlib 0.1.71+cuda111 (/usr/local/lib/python3.7/dist-packages),
 jax 0.2.25 (/usr/local/lib/python3.7/dist-packages),
 itsdangerous 1.1.0 (/usr/local/lib/python3.7/dist-packages),
 ipywidgets 7.6.5 (/usr/local/lib/python3.7/dist-packages),
 ipython 5.5.0 (/usr/local/lib/python3.7/dist-packages),
 ipython-sql 0.3.9 (/usr/local/lib/python3.7/dist-packages),
 ipython-genutils 0.2.0 (/usr/local/lib/python3.7/dist-packages),
 ipykernel 4.10.1 (/usr/local/lib/python3.7/dist-packages),
 intervaltree 2.1.0 (/usr/local/lib/python3.7/dist-packages),
 intel-openmp 2022.0.1 (/usr/local/lib/python3.7/dist-packages),
 iniconfig 1.1.1 (/usr/local/lib/python3.7/dist-packages),
 inflect 2.1.0 (/usr/local/lib/python3.7/dist-packages),
 imutils 0.5.4 (/usr/local/lib/python3.7/dist-packages),
 importlib-resources 5.4.0 (/usr/local/lib/python3.7/dist-packages),
 importlib-metadata 4.10.0 (/usr/local/lib/python3.7/dist-packages),
 imgaug 0.2.9 (/usr/local/lib/python3.7/dist-packages),
 imblearn 0.0 (/usr/local/lib/python3.7/dist-packages),
 imbalanced-learn 0.8.1 (/usr/local/lib/python3.7/dist-packages),
 imagesize 1.3.0 (/usr/local/lib/python3.7/dist-packages),
 imageio 2.4.1 (/usr/local/lib/python3.7/dist-packages),
 idna 2.10 (/usr/local/lib/python3.7/dist-packages),
 ideep4py 2.0.0.post3 (/usr/local/lib/python3.7/dist-packages),
 hyperopt 0.1.2 (/usr/local/lib/python3.7/dist-packages),
 humanize 0.5.1 (/usr/local/lib/python3.7/dist-packages),
 httplib2shim 0.0.3 (/usr/local/lib/python3.7/dist-packages),
 httplib2 0.17.4 (/usr/local/lib/python3.7/dist-packages),
 httpimport 0.5.18 (/usr/local/lib/python3.7/dist-packages),
 html5lib 1.0.1 (/usr/local/lib/python3.7/dist-packages),
 holoviews 1.14.7 (/usr/local/lib/python3.7/dist-packages),
 holidays 0.10.5.2 (/usr/local/lib/python3.7/dist-packages),
 hijri-converter 2.2.2 (/usr/local/lib/python3.7/dist-packages),
 HeapDict 1.0.1 (/usr/local/lib/python3.7/dist-packages),
 h5py 3.1.0 (/usr/local/lib/python3.7/dist-packages),
 gym 0.17.3 (/usr/local/lib/python3.7/dist-packages),
 gspread 3.4.2 (/usr/local/lib/python3.7/dist-packages),
 gspread-dataframe 3.0.8 (/usr/local/lib/python3.7/dist-packages),
 grpcio 1.43.0 (/usr/local/lib/python3.7/dist-packages),
 greenlet 1.1.2 (/usr/local/lib/python3.7/dist-packages),
 graphviz 0.10.1 (/usr/local/lib/python3.7/dist-packages),
 googledrivedownloader 0.4 (/usr/local/lib/python3.7/dist-packages),
 googleapis-common-protos 1.54.0 (/usr/local/lib/python3.7/dist-packages),
 google 2.0.3 (/usr/local/lib/python3.7/dist-packages),
 google-resumable-media 0.4.1 (/usr/local/lib/python3.7/dist-packages),
 google-pasta 0.2.0 (/usr/local/lib/python3.7/dist-packages),
 google-colab 1.0.0 (/usr/local/lib/python3.7/dist-packages),
 google-cloud-translate 1.5.0 (/usr/local/lib/python3.7/dist-packages),
 google-cloud-storage 1.18.1 (/usr/local/lib/python3.7/dist-packages),
 google-cloud-language 1.2.0 (/usr/local/lib/python3.7/dist-packages),
 google-cloud-firestore 1.7.0 (/usr/local/lib/python3.7/dist-packages),
 google-cloud-datastore 1.8.0 (/usr/local/lib/python3.7/dist-packages),
 google-cloud-core 1.0.3 (/usr/local/lib/python3.7/dist-packages),
 google-cloud-bigquery 1.21.0 (/usr/local/lib/python3.7/dist-packages),
 google-cloud-bigquery-storage 1.1.0 (/usr/local/lib/python3.7/dist-packages),
 google-auth 1.35.0 (/usr/local/lib/python3.7/dist-packages),
 google-auth-oauthlib 0.4.6 (/usr/local/lib/python3.7/dist-packages),
 google-auth-httplib2 0.0.4 (/usr/local/lib/python3.7/dist-packages),
 google-api-python-client 1.12.8 (/usr/local/lib/python3.7/dist-packages),
 google-api-core 1.26.3 (/usr/local/lib/python3.7/dist-packages),
 glob2 0.7 (/usr/local/lib/python3.7/dist-packages),
 gin-config 0.5.0 (/usr/local/lib/python3.7/dist-packages),
 geopy 1.17.0 (/usr/local/lib/python3.7/dist-packages),
 geographiclib 1.52 (/usr/local/lib/python3.7/dist-packages),
 gensim 3.6.0 (/usr/local/lib/python3.7/dist-packages),
 gdown 3.6.4 (/usr/local/lib/python3.7/dist-packages),
 GDAL 2.2.2 (/usr/local/lib/python3.7/dist-packages),
 gast 0.4.0 (/usr/local/lib/python3.7/dist-packages),
 future 0.16.0 (/usr/local/lib/python3.7/dist-packages),
 folium 0.8.3 (/usr/local/lib/python3.7/dist-packages),
 flatbuffers 2.0 (/usr/local/lib/python3.7/dist-packages),
 Flask 1.1.4 (/usr/local/lib/python3.7/dist-packages),
 fix-yahoo-finance 0.0.22 (/usr/local/lib/python3.7/dist-packages),
 firebase-admin 4.4.0 (/usr/local/lib/python3.7/dist-packages),
 filelock 3.4.2 (/usr/local/lib/python3.7/dist-packages),
 feather-format 0.4.1 (/usr/local/lib/python3.7/dist-packages),
 fbprophet 0.7.1 (/usr/local/lib/python3.7/dist-packages),
 fastrlock 0.8 (/usr/local/lib/python3.7/dist-packages),
 fastprogress 1.0.0 (/usr/local/lib/python3.7/dist-packages),
 fastdtw 0.3.4 (/usr/local/lib/python3.7/dist-packages),
 fastai 1.0.61 (/usr/local/lib/python3.7/dist-packages),
 fa2 0.3.5 (/usr/local/lib/python3.7/dist-packages),
 et-xmlfile 1.1.0 (/usr/local/lib/python3.7/dist-packages),
 ephem 4.1.3 (/usr/local/lib/python3.7/dist-packages),
 entrypoints 0.3 (/usr/local/lib/python3.7/dist-packages),
 en-core-web-sm 2.2.5 (/usr/local/lib/python3.7/dist-packages),
 editdistance 0.5.3 (/usr/local/lib/python3.7/dist-packages),
 ecos 2.0.10 (/usr/local/lib/python3.7/dist-packages),
 easydict 1.9 (/usr/local/lib/python3.7/dist-packages),
 earthengine-api 0.1.293 (/usr/local/lib/python3.7/dist-packages),
 dopamine-rl 1.0.5 (/usr/local/lib/python3.7/dist-packages),
 docutils 0.17.1 (/usr/local/lib/python3.7/dist-packages),
 docopt 0.6.2 (/usr/local/lib/python3.7/dist-packages),
 dm-tree 0.1.6 (/usr/local/lib/python3.7/dist-packages),
 dlib 19.18.0 (/usr/local/lib/python3.7/dist-packages),
 distributed 1.25.3 (/usr/local/lib/python3.7/dist-packages),
 dill 0.3.4 (/usr/local/lib/python3.7/dist-packages),
 descartes 1.1.0 (/usr/local/lib/python3.7/dist-packages),
 defusedxml 0.7.1 (/usr/local/lib/python3.7/dist-packages),
 decorator 4.4.2 (/usr/local/lib/python3.7/dist-packages),
 debugpy 1.0.0 (/usr/local/lib/python3.7/dist-packages),
 datascience 0.10.6 (/usr/local/lib/python3.7/dist-packages),
 dask 2.12.0 (/usr/local/lib/python3.7/dist-packages),
 daft 0.0.4 (/usr/local/lib/python3.7/dist-packages),
 Cython 0.29.26 (/usr/local/lib/python3.7/dist-packages),
 cymem 2.0.6 (/usr/local/lib/python3.7/dist-packages),
 cycler 0.11.0 (/usr/local/lib/python3.7/dist-packages),
 cvxpy 1.0.31 (/usr/local/lib/python3.7/dist-packages),
 cvxopt 1.2.7 (/usr/local/lib/python3.7/dist-packages),
 cufflinks 0.17.3 (/usr/local/lib/python3.7/dist-packages),
 crcmod 1.7 (/usr/local/lib/python3.7/dist-packages),
 coveralls 0.5 (/usr/local/lib/python3.7/dist-packages),
 coverage 3.7.1 (/usr/local/lib/python3.7/dist-packages),
 convertdate 2.3.2 (/usr/local/lib/python3.7/dist-packages),
 contextlib2 0.5.5 (/usr/local/lib/python3.7/dist-packages),
 community 1.0.0b1 (/usr/local/lib/python3.7/dist-packages),
 colorlover 0.3.0 (/usr/local/lib/python3.7/dist-packages),
 colorcet 3.0.0 (/usr/local/lib/python3.7/dist-packages),
 cmdstanpy 0.9.5 (/usr/local/lib/python3.7/dist-packages),
 cmake 3.12.0 (/usr/local/lib/python3.7/dist-packages),
 cloudpickle 1.3.0 (/usr/local/lib/python3.7/dist-packages),
 click 7.1.2 (/usr/local/lib/python3.7/dist-packages),
 charset-normalizer 2.0.10 (/usr/local/lib/python3.7/dist-packages),
 chardet 3.0.4 (/usr/local/lib/python3.7/dist-packages),
 cftime 1.5.1.1 (/usr/local/lib/python3.7/dist-packages),
 cffi 1.15.0 (/usr/local/lib/python3.7/dist-packages),
 certifi 2021.10.8 (/usr/local/lib/python3.7/dist-packages),
 catalogue 1.0.0 (/usr/local/lib/python3.7/dist-packages),
 cachetools 4.2.4 (/usr/local/lib/python3.7/dist-packages),
 cached-property 1.5.2 (/usr/local/lib/python3.7/dist-packages),
 CacheControl 0.12.10 (/usr/local/lib/python3.7/dist-packages),
 bs4 0.0.1 (/usr/local/lib/python3.7/dist-packages),
 branca 0.4.2 (/usr/local/lib/python3.7/dist-packages),
 Bottleneck 1.3.2 (/usr/local/lib/python3.7/dist-packages),
 bokeh 2.3.3 (/usr/local/lib/python3.7/dist-packages),
 blis 0.4.1 (/usr/local/lib/python3.7/dist-packages),
 bleach 4.1.0 (/usr/local/lib/python3.7/dist-packages),
 beautifulsoup4 4.6.3 (/usr/local/lib/python3.7/dist-packages),
 backcall 0.2.0 (/usr/local/lib/python3.7/dist-packages),
 Babel 2.9.1 (/usr/local/lib/python3.7/dist-packages),
 autograd 1.3 (/usr/local/lib/python3.7/dist-packages),
 audioread 2.1.9 (/usr/local/lib/python3.7/dist-packages),
 attrs 21.4.0 (/usr/local/lib/python3.7/dist-packages),
 atomicwrites 1.4.0 (/usr/local/lib/python3.7/dist-packages),
 atari-py 0.2.9 (/usr/local/lib/python3.7/dist-packages),
 astunparse 1.6.3 (/usr/local/lib/python3.7/dist-packages),
 astropy 4.3.1 (/usr/local/lib/python3.7/dist-packages),
 astor 0.8.1 (/usr/local/lib/python3.7/dist-packages),
 arviz 0.11.4 (/usr/local/lib/python3.7/dist-packages),
 argon2-cffi 21.3.0 (/usr/local/lib/python3.7/dist-packages),
 argon2-cffi-bindings 21.2.0 (/usr/local/lib/python3.7/dist-packages),
 argcomplete 2.0.0 (/usr/local/lib/python3.7/dist-packages),
 appdirs 1.4.4 (/usr/local/lib/python3.7/dist-packages),
 altair 4.2.0 (/usr/local/lib/python3.7/dist-packages),
 albumentations 0.1.12 (/usr/local/lib/python3.7/dist-packages),
 alabaster 0.7.12 (/usr/local/lib/python3.7/dist-packages),
 absl-py 0.12.0 (/usr/local/lib/python3.7/dist-packages),
 xkit 0.0.0 (/usr/lib/python3/dist-packages),
 screen-resolution-extra 0.0.0 (/usr/lib/python3/dist-packages),
 pygobject 3.26.1 (/usr/lib/python3/dist-packages)